<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.7.0-rc.2" targetFramework="net472" />
  <package id="Grpc" version="1.19.0-pre1" targetFramework="net472" />
  <package id="Grpc.Core" version="1.19.0-pre1" targetFramework="net472" />
  <package id="Grpc.Core.Api" version="1.19.0-pre1" targetFramework="net472" />
  <package id="Grpc.Tools" version="1.19.0-pre1" targetFramework="net472" developmentDependency="true" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net472" />
</packages>